/target/*
service/target/*
spider/target/*
web/target/*

output/*

service/.project
service/.classpath

*.prefs

spider/.classpath

spider/.project

web/.classpath

web/.project

deploy/deploy.spider/.project
deploy/deploy.spider/target/*

deploy/deploy.spider/.classpath

deploy/deploy.web/.project
deploy/deploy.web/target/*

deploy/deploy.web/.classpath
