<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">虾米GG</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">首页</a></li>
            <li><a href="list.html">电影</a></li>
            <li><a href="#">电视剧</a></li>
            <li><a href="#">游戏</a></li>
            <li><a href="#">美图</a></li>
            <li><a href="#">综艺</a></li>
            <li><a href="#">动漫</a></li>
            <li><a href="#">百科</a></li>
            <li><a href="#">免费软件</a></li>
            <li><a href="#">购物</a></li>
            <li><a href="#">文库</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>