<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="${staticDomain}/static/js/jquery.min.js"></script>
<script src="${staticDomain}/static/js/bootstrap.js"></script>
<script src="${staticDomain}/static/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="${staticDomain}/static/js/ie10-viewport-bug-workaround.js"></script>
