#parse("common/header.vm")
#parse("common/carousel_md.vm")
<!-- Custom styles for this template -->
<link href="${staticDomain}/css/index.css" rel="stylesheet">
<body>

	#parse("common/navigation.vm")
	#parse("common/search.vm")

<div class="container marketing">
  <p>&nbsp;</p>
  <div class="bs-callout bs-callout-danger">
    <ul class="nav nav-pills text-black">
      <li class="active">
        <a href="#home"  data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>热门资源</strong>&raquo;</a>
      </li>
      <li>
        <a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>最新资源</strong>&raquo;</a>
      </li>
      <li>
        <a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>推荐资源</strong>&raquo;</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="row resources-panel-space">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>
                <a href="#"><strong>电影</strong> &raquo;</a>
                <a class="label label-danger pull-right" href="http://www.qq.com">(924)</a>
              </h4>
            </div>
            <div class="panel-body resources-item">
              <ul>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">2341243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">201</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">32</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">0</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">54343</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4325432</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">43214321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">3243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">500</span>
                </li>
              </ul>
            </div>
            <!-- <div class="panel-footer">Panel footer</div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>
                <a href="#"><strong>游戏</strong> &raquo;</a>
                <a class="label label-danger pull-right" href="http://www.qq.com">(924)</a>
              </h4>
            </div>
            <div class="panel-body resources-item">
              <ul>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">2341243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">201</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">32</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">0</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">54343</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4325432</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">43214321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">3243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">500</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>
                <a href="#"><strong>软件</strong> &raquo;</a>
                <a class="label label-danger pull-right" href="http://www.qq.com">(924)</a>
              </h4>
            </div>
            <div class="panel-body resources-item">
              <ul>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">2341243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">201</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">32</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">0</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">54343</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">4325432</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">43214321</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">3243</span>
                </li>
                <li>
                  <a href="#">2011韩国剧情喜剧 百度云 576</a>
                  <span href="#">500</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right-panel -->
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">热播电影 &raquo;</a>
        <a href="#" class="list-group-item list-group-item-danger">Dapibus ac  in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
        <a href="#" class="list-group-item list-group-item-info">Vestibulum at eros</a>
        <a href="#" class="list-group-item list-group-item-success">Vestibulum at eros</a>
      </div>
    </div>
  </div><!-- /.row -->

  <!-- taobao adv -->
  <div class="row row-pic-space">
    <div class="col-md-12">
      <iframe src="http://biz5.sandai.net/portal/tempupload/20140521165206/index.html" frameborder="no" scrolling="no" style="border:0;width:1000px;height:90px;text-align:center;margin:0 auto;float:left;"></iframe>
    </div>
  </div>

  <p class="featurette-divider"></p>
  <div class="bs-callout bs-callout-danger">
    <ul class="nav nav-pills text-black">
      <li class="active">
        <a href="#home"  data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>最新资源</strong></a>
      </li>
      <li>
        <a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>文库</strong></a>
      </li>
      <li>
        <a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>视频</strong></a>
      </li>
      <li>
        <a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab"><strong>电视剧</strong></a>
      </li>

    </ul>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4 resources-item">
          <ul>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4 resources-item">
          <ul>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4 resources-item">
          <ul>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
            <li>
              <a href="#">2011韩国剧情喜剧 百度云 576</a>
              <span href="#">2014-4-4</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- right-panel -->
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">热播电影 &raquo;</a>
        <a href="#" class="list-group-item list-group-item-danger">Dapibus ac  in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
        <a href="#" class="list-group-item list-group-item-info">Vestibulum at eros</a>
        <a href="#" class="list-group-item list-group-item-success">Vestibulum at eros</a>
      </div>
    </div>
  </div><!-- /.row -->

  <!-- <hr class="featurette-divider"> -->

  <!-- Nav tabs -->
  <div class="bs-callout bs-callout-danger">
    <ul class="nav nav-pills" role="tablist" id="nav-tab-pic">
      <li class="active"><a href="#home" data-url="http://www.baidu.com" role="tab" data-toggle="tab">精选美图</a></li>
      <li><a href="#superStart" role="tab" data-url="http://www.baidu.com" data-toggle="tab">明星</a></li>
      <li><a href="#beautifulGirl" role="tab" data-url="http://www.baidu.com" data-toggle="tab">美女</a></li>
      <li><a href="#picWall" role="tab" data-url="http://www.baidu.com" data-toggle="tab">壁纸</a></li>
      <li><a href="#funny" role="tab" data-url="http://www.baidu.com" data-toggle="tab">搞笑</a></li>
      <li><a href="#animationPic" role="tab" data-url="http://www.baidu.com" data-toggle="tab">动漫</a></li>
      <li><a href="#" role="tab" data-url="http://www.qq.com" data-toggle="tab">更多 &raquo;</a></li>
    </ul>
  </div>
  <div class="row featurette">
    <div class="col-md-12">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="row row-pic-space tab-pic-md-2">
            <div class="col-md-2">
              <a href="#">
                <img src="http://h.hiphotos.baidu.com/image/w%3D310/sign=77878c45b9a1cd1105b674218913c8b0/ac4bd11373f08202d5f4f94a48fbfbedab641b64.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://e.hiphotos.baidu.com/image/w%3D310/sign=4621de6e552c11dfded1b92253256255/d62a6059252dd42a0ccc1826013b5bb5c8eab871.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://d.hiphotos.baidu.com/image/w%3D310/sign=3d3a2ddf7fd98d1076d40a30113eb807/0823dd54564e9258c2ee3dcd9f82d158ccbf4e3e.jpg">
              </a>
              
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://g.hiphotos.baidu.com/image/w%3D310/sign=227bdec5f8edab6474724bc1c737af81/e824b899a9014c08e87288ab097b02087bf4f477.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://img0.bdstatic.com/img/image/shouye/fsdctgsjfkkkk.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://b.hiphotos.baidu.com/image/w%3D310/sign=2a0ed96e68600c33f079d8c92a4d5134/d1a20cf431adcbef3764647cafaf2edda3cc9f73.jpg">
              </a>
            </div>
          </div>
          <div class="row row-pic-space tab-pic-md-2">
            <div class="col-md-2">
              <a href="#">
                <img src="http://h.hiphotos.baidu.com/image/w%3D310/sign=77878c45b9a1cd1105b674218913c8b0/ac4bd11373f08202d5f4f94a48fbfbedab641b64.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://g.hiphotos.baidu.com/image/w%3D310/sign=713d21038026cffc692ab9b389004a7d/562c11dfa9ec8a13a55f007af503918fa1ecc0e7.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://d.hiphotos.baidu.com/image/w%3D310/sign=3d3a2ddf7fd98d1076d40a30113eb807/0823dd54564e9258c2ee3dcd9f82d158ccbf4e3e.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://g.hiphotos.baidu.com/image/w%3D310/sign=564115b1f9f2b211e42e834ffa816511/77c6a7efce1b9d16bb83e9a3f1deb48f8d5464af.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://f.hiphotos.baidu.com/image/w%3D310/sign=8f5fa9ae2d738bd4c421b430918a876c/6c224f4a20a446235c1c73119b22720e0df3d7eb.jpg">
              </a>
            </div>
            <div class="col-md-2">
              <a href="#">
                <img src="http://b.hiphotos.baidu.com/image/w%3D310/sign=2a0ed96e68600c33f079d8c92a4d5134/d1a20cf431adcbef3764647cafaf2edda3cc9f73.jpg">
              </a>
            </div>
          </div>
        </div> 
        <div class="tab-pane" id="superStart">..1.</div>
        <div class="tab-pane" id="beautifulGirl">..2.</div>
        <div class="tab-pane" id="picWall">..3.</div>
        <div class="tab-pane" id="funny">..4.</div>
        <div class="tab-pane" id="animationPic">..5.</div>
      </div>
    </div>
  </div>

  <!-- taobao adv -->
  <div class="row row-pic-space">
    <div class="col-md-12">
      <iframe src="http://biz5.sandai.net/portal/tempupload/20140521165206/index.html" frameborder="no" scrolling="no" style="border:0;width:1000px;height:90px;text-align:center;margin:0 auto;float:left;"></iframe>
      <a href="">
        <img src="http://20141024.biz5.sandai.net/portal/image/33/n1411357320333.jpg" style="margin-left:5px; width: 135px; height: 90px;">
      </a>
    </div>
  </div>
</div><!-- /.container -->

#parse("common/script.vm")

#parse("common/footer.vm")