<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.resources.dal.mapper.ResMovieMapper">
	
	<sql id="allColumns">
		id,did,title,original_title,cast_ids,director_ids,genre_Ids,writer_ids,country_ids,aka,cover_images_id,mobile_url,rating_count,rating_id,
		wish_count,collect_count,subtype,website,douban_site,pubdates,year,languages,durations,summary_id,comment_count,review_count,season_count,
		season_id,episode_count,imdb_id,tag_ids,data_status,playable,created_time,modified_time
	</sql>
	
	<resultMap type="com.resources.dal.dataobject.ResMovieDO" id="resMovieDO">
		<result property="id" column="id"/>
		<result property="did" column="did"/>
		<result property="title" column="title"/>
		<result property="originalTitle" column="original_title"/>
		<result property="castIds" column="cast_ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="directorIds" column="director_ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="genreIds" column="genre_Ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="writerIds" column="writer_ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="countryIds" column="country_ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="aka" column="aka" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="coverImagesId" column="cover_images_id"/>
		<result property="mobileUrl" column="mobile_url"/>
		<result property="ratingCount" column="rating_count"/>
		<result property="ratingId" column="rating_id"/>
		<result property="wishCount" column="wish_count"/>
		<result property="collectCount" column="collect_count"/>
		<result property="subType" column="subtype"/>
		<result property="website" column="website"/>
		<result property="doubanSite" column="douban_site"/>
		<result property="pubdates" column="pubdates"/>
		<result property="year" column="year"/>
		<result property="languages" column="languages" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="durations" column="durations"/>
		<result property="summaryId" column="summary_id"/>
		<result property="commentCount" column="comment_count"/>
		<result property="reviewCount" column="review_count"/>
		<result property="seasonCount" column="season_count"/>
		<result property="seasonId" column="season_id"/>
		<result property="episodeCount" column="episode_count"/>
		<result property="imdbId" column="imdb_id"/>
		<result property="tagIds" column="tag_ids" javaType="java.util.List" jdbcType="VARCHAR"/>
		<result property="dataStatus" column="data_status"/>
		<result property="playable" column="playable"/>
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>

	<insert id="addData" parameterType="resMovieDO" useGeneratedKeys="true" keyProperty="id">
		insert into res_movie
		(<include refid="allColumns"/>)
		values(
		#{id},#{did},#{title},#{originalTitle},#{castIds},#{directorIds},#{genreIds},#{writerIds},#{countryIds},#{aka},#{coverImagesId},#{mobileUrl},
		#{ratingCount},#{ratingId},#{wishCount},#{collectCount},#{subType},#{website},#{doubanSite},#{pubdates},#{year},#{languages},#{durations},
		#{summaryId},#{commentCount},#{reviewCount},#{seasonCount},#{seasonId},#{episodeCount},#{imdbId},#{tagIds},#{dataStatus},#{playable},
		#{createdTime},#{modifiedTime}
		)
	</insert>

	<delete id="delData" parameterType="long">
		delete from res_movie where id = #{id}
	</delete>

	<update id="updateData" parameterType="resMovieDO">
		update res_movie
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="originalTitle != null">original_title=#{originalTitle},</if>
			<if test="castIds != null">cast_ids=#{castIds},</if>
			<if test="directorIds != null">director_ids=#{directorIds},</if>
			<if test="genreIds != null">genre_ids=#{genreIds},</if>
			<if test="writerIds != null">writer_ids=#{writerIds},</if>
			<if test="countryIds != null">country_ids=#{countryIds},</if>
			<if test="aka != null">aka=#{aka},</if>
			<if test="coverImagesId != null">cover_images_id=#{coverImagesId},</if>
			<if test="mobileUrl != null">mobile_url=#{mobileUrl},</if>
			<if test="ratingCount != 0">rating_count=#{ratingCount},</if>
			<if test="ratingId != 0">rating_id=#{ratingId},</if>
			<if test="wishCount != 0">wish_count=#{wishCount},</if>
			<if test="collectCount != 0">collect_count=#{collectCount},</if>
			<if test="subType != null">subtype=#{subType},</if>
			<if test="website != null">website=#{website},</if>
			<if test="doubanSite != null">douban_site=#{doubanSite},</if>
			<if test="pubdates != null">pubdates=#{pubdates},</if>
			<if test="year != null">year=#{year},</if>
			<if test="languages != null">languages=#{languages},</if>
			<if test="durations != null">durations=#{durations},</if>
			<if test="summaryId != 0">summary_id=#{summaryId},</if>
			<if test="commentCount != 0">comment_count=#{commentCount},</if>
			<if test="reviewCount != 0">review_count=#{reviewCount},</if>
			<if test="seasonCount != 0">season_count=#{seasonCount},</if>
			<if test="seasonId != 0">season_id=#{seasonId},</if>
			<if test="episodeCount != 0">episode_count=#{episodeCount},</if>
			<if test="imdbId != null">imdb_id=#{imdbId},</if>
			<if test="tagIds != null">tag_ids=#{tagIds},</if>
			<if test="dataStatus != 0">data_status=#{dataStatus},</if>
			<if test="playable != 0">playable=#{playable},</if>
			<if test="modifiedTime != null">modified_time=#{modifiedTime},</if>		
		</set>
		where id = #{id}
	</update>
	
	<!-- 查询单条记录 -->
	<select id="getData" parameterType="long" resultMap="resMovieDO">
		select <include refid="allColumns"/> from res_movie where id = #{id}
	</select>
	
	<select id="getDataByDid" parameterType="long" resultMap="resMovieDO">
		select <include refid="allColumns"/> from res_movie where did = #{did}
	</select>
	
	<select id="getMovieByPaginatorWithStatus" parameterType="java.util.Map" resultMap="resMovieDO">
		select id, did, created_time from res_movie where data_status=#{dataStatus} limit #{offset}, #{length}
	</select>
	
</mapper>  