<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.resources.dal.mapper.ResTagMapper">
	
	<cache/>
	
	<sql id="allColumns">
		id,cid, biz_type, tag_name,created_time
	</sql>
	
	<resultMap type="com.resources.dal.dataobject.ResTagDO" id="resTagDO">
		<result property="id" column="id"/>
		<result property="cid" column="cid"/>
		<result property="bizType" column="biz_type" javaType="com.resources.common.BizTypeEnum" jdbcType="INTEGER"/>
		<result property="tagName" column="tag_name"/>
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>

	<insert id="addData" parameterType="resTagDO" useGeneratedKeys="true" keyProperty="id">
		insert into res_tag
		(<include refid="allColumns"/>)
		values(#{id},#{cid},#{bizType},#{tagName},#{createdTime})
	</insert>
	
	<delete id="delData" parameterType="long" flushCache="true">
		delete from res_tag where id = #{id}
	</delete>
	
	<update id="updateData" parameterType="resTagDO" flushCache="true">
		update res_tag
		<set>
			<if test="cid != 0">cid=#{cid},</if>
			<if test="bizType != null">biz_type=#{bizType},</if>
			<if test="tagName != null">tag_name=#{tagName},</if>		
		</set>
		where id = #{id}
	</update>
	
	<!-- 查询单条记录 -->
	<select id="getData" parameterType="long" resultMap="resTagDO" useCache="true">
		select <include refid="allColumns"/> from res_tag where id = #{id}
	</select>
	
	<select id="getDataByIds" resultMap="resTagDO" useCache="true">
		select <include refid="allColumns"/> from res_tag where id in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="getDataByNameWithType" resultMap="resTagDO" useCache="true">
		select <include refid="allColumns"/> from res_tag where biz_type=#{bizType} and tag_name=#{tagName}
	</select>
	
</mapper>  