<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.resources.dal.mapper.SpiderResourcesMapper">
	
	<resultMap type="com.resources.dal.module.SpiderResourcesDO" id="spiderResourcesDO">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="downloadUrl" column="download_url"/>
		<result property="cleanedName" column="cleaned_name"/>
		<result property="doubanIds" column="douban_ids"/>
		<result property="doubanNames" column="douban_names"/>
		<result property="status" column="status"/>
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>

	<insert id="addSpiderResources" parameterType="spiderResourcesDO" useGeneratedKeys="true" keyProperty="id">
		insert into spider_resources (name,url,download_url, created_time) values(#{name},#{url},#{downloadUrl}, #{createdTime})
	</insert>
	
	<update id="updateSpiderResources" parameterType="spiderResourcesDO">
		update spider_resources 
		<set>
			<if test="downloadUrl != null">download_url=#{downloadUrl},</if>
			<if test="cleanedName != null">cleaned_name=#{cleanedName},</if>
			<if test="doubanIds != null">douban_ids=#{doubanIds},</if>
			<if test="doubanNames != null">douban_names=#{doubanNames},</if>
			<if test="status != 0">status=#{status},</if>
			<if test="id != 0">id=#{id},</if>
		</set>
		where name = #{name}
	</update>
	
	<!-- 查询单条记录 -->
	<select id="getSpiderResources" parameterType="java.util.HashMap" resultMap="spiderResourcesDO">
		select * from spider_resources limit #{offset}, #{length}
	</select>
	
	<select id="getSpiderResource" parameterType="java.lang.String" resultMap="spiderResourcesDO">
		select * from spider_resources where name=#{name}
	</select>
	
	<select id="getSpiderResourceById" parameterType="java.lang.Long" resultMap="spiderResourcesDO">
		select * from spider_resources where id=#{id}
	</select>
	
</mapper>  