<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.resources.dal.mapper.SpiderRecordMapper">
	
	<sql id="allColumns">
		id, type, tag_name, spider_info, spider_date
	</sql>
	
	<resultMap type="com.resources.dal.dataobject.SpiderRecordDO" id="spiderRecordDO">
		<result property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="tagName" column="tag_name"/>
		<result property="spiderInfo" column="spider_info"/>
		<result property="spiderDate" column="spider_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
	</resultMap>

	<insert id="addData" parameterType="spiderRecordDO" useGeneratedKeys="true" keyProperty="id">
		insert into spider_record
		(<include refid="allColumns"/>)
		values(#{id},#{type},#{tagName},#{spiderInfo},#{spiderDate})
	</insert>
	
	<delete id="delData" parameterType="long">
		delete from spider_record where id = #{id}
	</delete>
	
	<update id="updateData" parameterType="spiderRecordDO">
		update spider_record
		<set>
			<if test="spiderInfo != null">spider_info=#{spiderInfo},</if>
			<if test="spiderDate != null">spider_date=#{spiderDate},</if>		
		</set>
		where id = #{id}
	</update>
	
	<select id="getData" parameterType="long" resultMap="spiderRecordDO">
		select * from spider_record where id = #{id}
	</select>
	
	<!-- 查询单条记录 -->
	<select id="getRecordByType" parameterType="int" resultMap="spiderRecordDO">
		select * from spider_record where type = #{type}
	</select>
	
	<select id="getRecordByTypeWithName" parameterType="java.util.Map" resultMap="spiderRecordDO">
		select * from spider_record where type = #{type} and tag_name=#{tagName}
	</select>
	
</mapper>  